{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card shadow-sm p-4">
        <form method="POST" action="">
            {{ reset_password_form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom pb-2 mb-4">Reset Password</legend>
                
                <!-- Password Field -->
                <div class="mb-3">
                    {{ reset_password_form.password.label(class="form-label") }}
                    {{ reset_password_form.password(class="form-control" + (" is-invalid" if reset_password_form.email.errors else ""), placeholder="Enter password") }}

                    {% if reset_password_form.password.errors %}
                        <div class="invalid-feedback">
                            {% for error in reset_password_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>


                 <!-- Confirm Password Field -->
                 <div class="mb-3">
                    {{ reset_password_form.confirm_password.label(class="form-label") }}
                    {{ reset_password_form.confirm_password(class="form-control" + (" is-invalid" if reset_password_form.confirm_password.errors else ""), placeholder="Confirm your password") }}

                    {% if registration_form.confirm_password.errors %}
                        <div class="invalid-feedback">
                            {% for error in reset_password_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                
                <!-- Submit Button -->
                <div class="d-grid">
                    {{ reset_password_form.submit(class="btn btn-primary btn-lg") }}
                </div>

                
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}
